
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root{
  --red:#d01c28;
  --grey:#2e2e2e;
}
*{
  margin: 0;
}
.container{
  max-width: 1280px;
  margin: 0 auto;
}

body {
    font-family: 'Poppins', sans-serif;
}

button{
  all: unset;
  padding: 6px 16px;
  background: var(--red);
  height: 32px;
  color: white;
  font-weight: 500;
}
input{
  all: unset;
  padding: 6px 16px;
  background: var(--red);
  height: 32px;
  color: white;
  font-weight: 500;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  height: 72px;
}

 ul{
  display: flex;
  gap: 24px;
  list-style: none;

}

.hero{ 
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 36px;
  height: calc(100vh-72px)
  
}
.herocontent{
  display: flex;
  flex-direction: column;
  gap: 36px;

  
}
.hero h1{
  font-weight: 800;
  font-size: 90px;
  line-height: 80px;
  

}
.hero p{
  font-weight: 600;
  color: var(--grey);
  max-width: 400px;
}
.herobutton{
  display: flex;
  gap: 40px;
}
.secondry-btn{
  background: transparent;
  background-color: gray;
  border: 1px solid;
}

.icon{
  display: flex;
  gap: 16px;
}

.App{
  display: flex;
  flex-direction: column;
  gap: 80px;
}